{% extends 'htmx_basic/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="align-center col-8 offset-2">
    <p class="lead mb-3 ml-0">Product Create</p>
    <hr/>
    <p>This sample show how to count the length of the field name as the user enter letters. Of course this could
    be resolved of client side. But the objective here registre how the HTMX function works at basic level.</p>
    <hr/>

    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label_tag }}</label>
        {{ form.name.errors }}
        <!--
        It's necessary save the url on a variable in order to pass the parameter to render_field custom tag. As try
        to call url tag directly on hx-post will cause a failure.
        -->
        {% url 'htmx_basic:get_name_length' as lenght_url %}
        {% render_field form.name class="form-control" hx-post=lenght_url hx-trigger="keyup changed" hx-target="#name-length-count" %}
        <div id="name-length-count"></div>
      </div>
      <div class="mb-3">
        <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label_tag }}</label>
        {{ form.description.errors }}
        {% render_field form.description class="form-control"  %}
      </div>
      <div class="mb-3">
        <label for="{{ form.featured_image.id_for_label }}" class="form-label">{{ form.featured_image.label_tag }}</label>
        {{ form.featured_image.errors }}
        {% render_field form.featured_image class="form-control"  %}
      </div>

      <button type="submit" class="btn btn-success mt-2">Register</button>
    </form>
</div>
{% endblock content %}
